<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- favicon icon -->
    <link rel="icon" href="/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome.all.min.css">
    <link rel="stylesheet" href="/css/linearicons.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/meanmenu.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/responsive.css">
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
	<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>	
	
	<script src="./js/username.js"></script>
    <title>TGIC全球指数链</title>
</head>

<body>

   <div class="wrapper-box pl-70 pr-70">
        <!-- header start -->
        <header>
<!--            <div class="header-top-area grey-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-8 d-flex align-items-center justify-content-center justify-content-md-start">
                            <div class="welcome-message text-center text-md-left">
                                <span>More then 25 years of experience in business! Privacy & Security</span>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-4">
                            <div class="header-social-icon social-border f-right pt-20 pb-20 pl-15">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 -->
			<style type="text/css">
				.logo img{
					height: 50px;
				}
				@media only screen and (max-width:990px){
				.logo img{
					height: 30px;
					display: block;
					
				}
			</style>


                                    	
                  
<div class="main-menu-area home-two-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="https://www.tgichain.com/" target="_blank"><img src="/img/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-9 text-right">
                            <div class="main-menu">
                                <nav id="mobile-menu2">
                                    <ul class="home-two offcanvas">
                                        <li><a href="https://www.tgichain.com/" target="_blank">官方首页</a></li>	
										<li><a href="/index.html">区块浏览器</a></li>	
										<li><a href="/top-wallets.html">热门钱包</a></li>	
										<li><a href="/delegate-monitor.html">代表监控</a></li>   
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-1 d-none d-lg-block">
                            <div class="menu-icon f-right">
                                <a href="#" class="menu-tigger">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile-menu-two"></div>
                        </div>
                    </div>
                    <div class="offcanvas-menu">
                        <span class="menu-close"><i class="fas fa-times"></i></span>
                         <form >
                            <input type="text" placeholder="Search.." id="sltnameb">
                            <button type="button" id="sousuob"><i class="fa fa-search"></i></button>
                            <div><span id="error" style="color: #FF0000"></span></div>
                        </form>
                        <ul>
                            <li><a href="http://www.tgichain.com/" target="_blank">官方首页</a></li>	
							<li><a href="/index.html">区块浏览器</a></li>	
							<li><a href="/top-wallets.html">热门钱包</a></li>	
							<li><a href="/delegate-monitor.html">代表监控</a></li>	
                        </ul>
                        <div class="side-social">
							<a href="https://www.facebook.com/profile.php?id=100029364581947"><i class="fab fa-facebook-f"></i></a>
							<a href="https://twitter.com/NbRnEsEv2Ct708g?s=05"><i class="fab fa-twitter"></i></a>
							<a href="https://github.com/xianfeic"><i class="fab fa-github"></i></a>
							<a href="http://weibo.com/TGIC"><i class="fab fa-weibo"></i></a>
							<a href="https://t.me/tgichain01"><i class="fab fa-telegram"></i></a>
                        </div>
                    </div>
                    <div class="offcanvas-overly"></div>
                </div>
            </div>
			
			
			<div class="sjxs offcanvas">
				<form class="sjxs">
					<input type="text" placeholder="Search.." id="sltnamea">
					<button type="button" id="sousuoa" ><i class="fa fa-search"></i></button>
				</form>
			</div>
        </header>


		<section class="counter-area grey-bg pt-110 pb-90">	
			<div class="container wbj-z-2 w96">
				<div class="wzkz mb-30 row space-between align-items-center">
					<div class="row align-items-center mb-30">
						<div class="h-60" id="add">
							<div id="addressss"></div>
						</div>
						<style type="text/css">
							.h-60{
								width: 60px;
								height: 60px;
								background: #fff;
								margin-right: 10px;
							}
							canvas{
								margin-top: 6px;
								margin-left: 10%;
								width: 80%;
								height: 80%;
								min-width: 40px ;
								min-height: 40px;
							}
						</style>
						<div class="sj-w70">
						<p class="fz-18">地址</p>
						<div id="address" class="ccsl"></div>
						</div>
					</div>
			
			
					<div id="transaction" class="mb-30">
						<p class="fz-18">余额</p>
						<div v-cloak>{{datas.balance/100000000}}T</div>
					</div>
					
					<div class="mb-30">
						
						<p class="fz-18">交易</p>
						<span id="fasong" v-cloak>{{datas}}<img src="/img/shoudao.png" ></span>
						<span id="shoudao" v-cloak>{{datas}}<img src="/img/fasong.png" ></span>
					</div>
				</div>	
			</div>
		</section>

			

<section class="slider-area wbj-sx30">
	<div class="container">
		<div class="zxjy">
			<a href="javascript:transactions(0);" class="_transactions"><span>全部</span></a>
			<a href="javascript:senderId(0);" class="_senderId"><span>发送</span></a>
			<a href="javascript:recipientId(0);" class="_recipientId"><span>收到</span></a>
		</div>


		<div id="transactions">
			<div class="sj-ys wbj-sx30">
			
					<table style="table-layout:fixed;white-space: nowrap; width: 100%;">
						<th>ID</th>
						<th>时间戳</th>
						<th>发送者</th>
						<th>接收者</th>
						<!-- <th>Smartbridge</th> -->
						<th>数量 (TGI)</th>
						<th>费用 (TGI)</th>
						<th>确认</th>
						<tr v-for="data in datas" >

							<template  v-if="data.recipient">
								<td v-cloak><a :href="'/transaction.html?id='+data.id">{{data.id}}</a></td>
								<td v-cloak>{{getLocalTime(data.timestamp+1490101200)}}</td>
								<td v-cloak><a :href="'/wallets.html?id='+data.senderId">{{usernameupdate(data.senderId)}}</a></td>
								<td v-cloak><a :href="'/wallets.html?id='+data.recipientId">{{usernameupdate(data.recipientId)}}</a></td>
								
								<td v-cloak style="color: #ef192d">{{data.amount/100000000}}T</td>
								<td v-cloak>{{data.fee/100000000}}T</td>
								<td>完全确认</td>
							</template>
							<template v-else style="color: #FFFF00">
								<td v-cloak><a :href="'/transaction.html?id='+data.id">{{data.id}}</a></td>
								<td v-cloak>{{getLocalTime(data.timestamp+1490101200)}}</td>
								<td v-cloak><a :href="'/wallets.html?id='+data.senderId">{{usernameupdate(data.senderId)}}</a></td>
								<td v-cloak><a :href="'/wallets.html?id='+data.recipientId">{{usernameupdate(data.recipientId)}}</a></td>
								
								<td v-cloak style="color: #46b02e">{{data.amount/100000000}}T</td>
								<td v-cloak>{{data.fee/100000000}}T</td>
								<td>完全确认</td>
							</template>
						
							

						</tr>
					</table>
							
					<div v-if="datas.length >= 10" class="wbj-sx20 zydq">
						<a id="qpage" href="javascript:qpage();" class="btn cta-btn bkyj"><span>上一页</span></a>
						<a id="hpage" href="javascript:hpage();" class="btn cta-btn bkyj"><span>下一页</span></a>
					</div>
							
			</div>
			
			<div class="sj-xs">
					

					<div  v-for="data in datas" class="column wbj-x10 bg-f7f7fd" >
						

						<li class="zydq">
							<span>ID：</span>
							<span v-cloak><a :href="'/transaction.html?id='+data.id" >{{data.id}}</a></span>
						</li>
						<li class="zydq">
							<span>时间戳：</span>
							<span v-cloak>{{getLocalTime(data.timestamp+1490101200)}}</span>
						</li>
						<li class="zydq">
							<span>发送者：</span>
							<span v-cloak><a :href="'/wallets.html?id='+data.senderId">{{data.senderId}}</a></span>
						</li>
						<li class="zydq">
							<span>接收者：</span>
							<span v-cloak><a :href="'/wallets.html?id='+data.recipientId">{{data.recipientId}}</a></span>
						</li>
						<li class="zydq">
							<span>数量 (TGI)：</span>
							<span v-cloak>{{data.amount/100000000}}T</span>
						</li>
						<li class="zydq"> 
							<span>费用 (TGI)：</span>
							<span v-cloak>{{data.fee/100000000}}T</span>
						</li>
						<li class="zydq">
							<span>确认：</span>
							<span v-cloak>完全确认</span>
						</li>
					
					</div>
							
					<div v-if="datas.length >= 10" class="wbj-sx20 zydq">
						<a id="qpage" href="javascript:qpage();" class="btn cta-btn bkyj"><span>上一页</span></a>
						<a id="hpage" href="javascript:hpage();" class="btn cta-btn bkyj"><span>下一页</span></a>
					</div>
				
			</div>
				
		</div>
    </div>
</section>

		<script src="./js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="./js/jquery.qrcode.min.js"></script>
		<script src="/layer/layer.js"></script>
		
		<script src="/js/app.js"></script>
		<script type="text/javascript">
			//调用示例

				 
			$('#add').on('click', function(){
				//var erweima = $('#addressss').html()
				//console.log(erweima)
				var aaa = '<div id="code"></div>'
				layer.alert(aaa, {
								type: 1,
								title: '二维码',
								shadeClose: true,
								area: ['300px', '300px']
					})
				$('#code').qrcode(id)
// 							 		layer.open({
// 									  title: '二维码',
// 							 		  type: 1,
// 									  area: ['300px', '300px'],
// 									  shadeClose:false,
// 									  closeBtn:0,
// 							 		  content:$('#code').qrcode(id).html()
// 							 		});
									
			});

			var id = getParam('id')	
			$('#address').html(id)
			$('#address').attr('href','/wallet.html?id='+id)
			$('#addressss').qrcode(id)

			var vum2 = new Vue({
				el: '#transaction',
				data: {
					datas: "",
				},
				beforeCreate: function() {
					$.ajax({
						type: 'Get',
						url: server_url+"api/accounts?address="+id,

						success: function(data) {
							vum2.datas = data.account;
							console.log(vum2.datas)//钱包余额等
							$('._transactions').css('color','#007bff')
						}
					})
				}
			})
			var vum3 = new Vue({
				el: '#fasong',
				data: {
					datas: "",
				},
				beforeCreate: function() {
					$.ajax({
						type: 'Get',
						url: server_url+"api/transactions?recipientId="+id+"&limit=1",

						success: function(data) {
							vum3.datas = data.count;
							console.log(vum3.datas)//发送多少
						}
					})
				}
			})
			
			var vum4 = new Vue({
				el: '#shoudao',
				data: {
					datas: "",
				},
				beforeCreate: function() {
					$.ajax({
						type: 'Get',
						url: server_url+"api/transactions?senderId="+id+"&limit=1",

						success: function(data) {
							vum4.datas = data.count;
							console.log(vum4.datas)//收到多少
						}
					})
				}
			})
			var vum6 = new Vue({
				el: '#daibiao',
				data: {
					datas: "",
				},
				beforeCreate: function() {
					$.ajax({
						type: 'Get',
						url: server_url+"api/accounts/delegates?address="+id,

						success: function(data) {
							if(data.success){
								// $('#daibiao').css('display','block')
								vum6.datas = data.delegates[0];
								console.log(vum6.datas)//代表信息
								var vum7 = new Vue({
									el: '#xuanmin',
									data: {
										datas: "",
									},
									beforeCreate: function() {
										$.ajax({
											type: 'Get',
											url: server_url+"api/delegates/voters?publicKey="+data.delegates[0].publicKey,

											success: function(data) {
												if(data.success){
													$('#xuanmin').html(data.accounts.length)
													console.log(data.accounts)
													//选民人数
													//vum7.datas = data.accounts;
													//console.log(vum7)
												}
												
											}
										})
									}
								})
							}
							
						}
					})
				}
			})

			


			//transactions(0)

			urlpage = 0
			funcname = 'transactions'

			function qpage(){
				if(urlpage <= 0){
					return false
				}
				var page = urlpage-10
				eval(funcname+"("+page+")")
				urlpage = urlpage-10
			}
			function hpage(){
				var page = urlpage+10
				eval(funcname+"("+page+")")
				urlpage = urlpage+10
			}
			
			
			function transactions(page){	//全部
				$('._transactions').css('color','#007bff')
				$('._senderId').css('color','')
				$('._recipientId').css('color','')
				funcname = 'transactions'
				if(page == 0){
					urlpage = 0
				}
				datares("api/transactions?senderId="+id+"&recipientId="+id+"&orderBy=timestamp:desc&limit=10&offset="+page)
			}

			function senderId(page){//发送
				$('._senderId').css('color','#007bff')
				$('._transactions').css('color','')
				$('._recipientId').css('color','')
				funcname = 'senderId'
				if(page == 0){
					urlpage = 0
				}	
				datares("api/transactions?senderId="+id+"&orderBy=timestamp:desc&limit=10&offset="+page)
			}

			function recipientId(page){	//收到
				$('._recipientId').css('color','#007bff')
				$('._transactions').css('color','')
				$('._senderId').css('color','')
				funcname = 'recipientId'
				if(page == 0){
					urlpage = 0
				}
				datares("api/transactions?recipientId="+id+"&orderBy=timestamp:desc&limit=10&offset="+page)
			}
			vum5 = new Vue({
				el: '#transactions',
				data: {
					datas: "",
				},
				beforeCreate: function() {
					$.ajax({
						type: 'Get',
						url: server_url+"api/transactions?senderId="+id+"&recipientId="+id+"&orderBy=timestamp:desc&limit=10",

						success: function(data) {
							console.log(data)
							for (var i=0 ; i<data.transactions.length ; i++) {
								if(data.transactions[i].recipientId == id){
									data.transactions[i].recipient = true
								}else{
									data.transactions[i].recipient = false
								}
								
							}
							vum5.datas = data.transactions;
							console.log(vum5)
							
						}
					})
				}
			})
			function datares(url){

			$.ajax({
				type: 'Get',
				url: server_url+url,

				success: function(data) {
					// vum5.datas = data.transactions;
					// console.log(vum5.datas)
					for (var i=0 ; i<data.transactions.length ; i++) {
						if(data.transactions[i].recipientId == id){
							data.transactions[i].recipient = true
						}else{
							data.transactions[i].recipient = false
						}
						
					}
					 vum5.$set(vum5.$data,'datas',data.transactions)
				   vum5.$forceUpdate();
				}
			})
		

				
			}
			
			

		</script>





<footer style="background-image: url(/img/footer-bg.jpg)">
            <div class="footer-area pt-110 pb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-12">
                            <div class="footer-widget mb-30">
                                <!-- <img class="mb-30" src="/webpic/0b/741c532e157328b24ca8835dccf465.png" alt=""> -->
								<h3>TGIC</h3>
                                <p>TGIC致力于成为全球金融行业的标杆公有链，帮助金融企业、全球投资者实现传统资产的数字化，避免传统金融行业的短板，推动区块链为基础的金融生态健康发展。</p>
                                <form class="subscribe-form" action="#">
                                    <input type="email" placeholder="Your Email">
                                    <button type="submit"><i class="fas fa-long-arrow-alt-right"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 offset-xl-1 mb-25 col-md-6">
                            <div class="footer-widget">
                                <h3>底部导航</h3>
                                <ul class="footer-link ">									
                                   										<div class="menu-fl">
											<li><a href="javascript:;">关于</a></li> 
                                          
                                            <li><a href="https://www.tgichain.com/index/page/index/id/7" target="_blank">简介</a>
											  
                                            <li><a href="https://www.tgichain.com/index/gonggao/index" target="_blank">公告</a>
											  
                                            <li><a href="https://www.tgichain.com/TGI+Whitepaper.pdf" target="_blank">白皮书</a>
											  
                                            <li><a href="https://www.tgichain.com/TGIC%20Ecosystem%20Hub.pdf" target="_blank">生态枢纽</a>
											  
                                            <li><a href="https://www.tgichain.com/index/whty/index" target="_blank">常见问题</a>
																					</div>   
                                    										<div class="menu-fl">
											<li><a href="javascript:;">资源</a></li> 
                                          
                                            <li><a href="javascript:;">APP下载</a>
											  
                                            <li><a href="https://fir.im/9r21">安卓下载</a></li>
                                              
                                            <li><a href="https://fir.im/6g8f">苹果下载</a></li>
                                              
                                            <li><a href="https://github.com/xianfeic/tgic-nodev2.0.1">GitHub</a>
											  
                                            <li><a href="https://v.qq.com/x/page/r0813ouwcy6.html">教程</a>
											  
                                            <li><a href="/index/page/index/id/11">API</a>
											  
                                            <li><a href="http://qb.d8sense.com">轻钱包</a>
																					</div>   
                                                                    </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 offset-xl-1 col-md-6">
                            <div class="footer-widget mb-30">
                                <h3>联系我们</h3>
                                <ul class="contact-list">
                                    <li>ATOM CAPOTAL PTE.LTD</li>
                                    <li>Admin@tgichain.com</li>
                                    <li>revenge@vip.qq.com</li>
                                </ul>
								<div class="footer-icon">  
									<a href="https://www.facebook.com/profile.php?id=100029364581947"><i class="fab fa-facebook-f"></i></a>
									<a href="https://twitter.com/NbRnEsEv2Ct708g?s=05"><i class="fab fa-twitter"></i></a>
									<a href="https://github.com/xianfeic"><i class="fab fa-github"></i></a>
									<a href="http://weibo.com/TGIC"><i class="fab fa-weibo"></i></a>
									<a href="https://t.me/tgichain01"><i class="fab fa-telegram"></i></a>
								</div>  
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="copyright-border pt-30 pb-30">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="copyright text-center text-md-left">
                                    <p>© 2018-2019 TGIC. All rights reserved.by TGIC TEAM.</p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="copyright text-center text-md-right">
                                    <ul>
                                        <p>WWW.TGICHAIN.COM</p>
                                        <!-- <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Contact Us</a></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-end -->
     </div>


    <!-- All JS -->
    <!-- <script src="/js/jquery-1.12.4.min.js"></script> -->
    <!-- <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script> -->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.meanmenu.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/main.js"></script>
	<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
</body>

</html>